<head>
    <title>{{dataNews.Title}}</title>
</head>
<div class="container">
    <div class="jumbotron">
        <h2>{{dataNews.Title}}</h2>
    </div>
    <div align="right"><b>{{dataNews.CreatedDate}}</b></div>
    <div>
        <div>
            <h3>{{dataNews.Detail}}</h3>
        </div>
        <table class="table">
            <tr>
                <td>
                    <div>
                        <img src="../assets/images/{{dataNews.Image}}.jpg" width="800px">
                    </div>
                </td>
            </tr>
        </table>
    </div>
</div>