.btn {
    border: none;
    background-color: inherit;
    padding: 14px 28px;
    font-size: 20px;
    color:white;
    cursor: pointer;
    display: inline-block;
  }
  .btn:hover {background:yellow;}
